.filter-button {
  height: 50px;
  box-sizing: border-box;
  border: 1px solid var(--separator-color);
  color: var(--primary-color);
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.small {
  width: 168px;
  background-color: rgb(255, 255, 255);
}

.big {
  width: 502px;
  background-color: var(--highlight-color);
  color: var(--white-color);
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
}
