.page {
  min-width: 754px;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 480px) {
  .page {
    min-width: 320px;
  }
  .wrapper {
    min-width: 754px;
  }
}
